<form>
  <div class="form-group">
    <input type="name" name="name" [(ngModel)]="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name of the game">
  </div>
  <div class="form-group">
    <input type="rating" name="rating" [(ngModel)]="rating" class="form-control" id="rating" placeholder="Rating">
  </div>
  <button type="submit" class="btn btn-primary" (click)="addGame()">Add game to list</button>
</form>
<table class="table">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Rating</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let game of games">
    <td>{{game.id}}</td>
    <td>{{game.name}}</td>
    <td>{{game.rating}}%</td>
    <td><button class="btn btn-secondary" (click)="checkGame(game.id)">Detail</button></td>
  </tr>
  </tbody>
</table>
